html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline
}

body {
  line-height: 1;
  color: #000;
  background: #fff
}

ol,ul {
  list-style: none
}

table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle
}

caption,th,td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle
}

a img {
  border: 0
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 500;
  src: url("/fonts/sourcecodepro/SourceCodePro-Medium.otf.woff")
}

@font-face {
  font-family: "Source Code Pro";
  font-weight: 600;
  src: url("/fonts/sourcecodepro/SourceCodePro-Semibold.otf.woff")
}

#api-reference {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  color: #4c555a;
  font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-transform: none;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%
}

#api-reference h1,#api-reference h2,#api-reference h3,#api-reference h4,#api-reference h5 {
  margin: 0;
  color: #292e31;
  font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial,sans-serif
}

#api-reference h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px
}

#api-reference h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px
}

#api-reference h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px
}

#api-reference h4,#api-reference h5 {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase
}

#api-reference h4 {
  color: #4c555a
}

#api-reference h5 {
  color: #939da3
}

#api-reference p {
  margin-bottom: 0;
  margin-top: 20px
}

#api-reference a {
  color: #0099e5;
  text-decoration: none
}

#api-reference a:hover {
  color: #292e31;
  text-decoration: none
}

#api-reference .lang-curl,#api-reference .lang-java,#api-reference .lang-php,#api-reference .lang-python,#api-reference .lang-ruby,#api-reference .lang-go,#api-reference .lang-node {
  display: none
}

#api-reference .lang-curl .token.operator,#api-reference .lang-curl .token.punctuation {
  color: #d0d0d0 !important
}

#api-reference[data-language="curl"] .lang-curl,#api-reference[data-language="go"] .lang-go,#api-reference[data-language="java"] .lang-java,#api-reference[data-language="node"] .lang-node,#api-reference[data-language="php"] .lang-php,#api-reference[data-language="python"] .lang-python,#api-reference[data-language="ruby"] .lang-ruby {
  display: inline
}

#api-reference[data-language="curl"] p.lang-curl,#api-reference[data-language="go"] p.lang-go,#api-reference[data-language="java"] p.lang-java,#api-reference[data-language="node"] p.lang-node,#api-reference[data-language="php"] p.lang-php,#api-reference[data-language="python"] p.lang-python,#api-reference[data-language="ruby"] p.lang-ruby {
  display: block
}

#api-reference[data-language="curl"] .method-example-declaration .lang-curl,#api-reference[data-language="go"] .method-example-declaration .lang-go,#api-reference[data-language="java"] .method-example-declaration .lang-java,#api-reference[data-language="node"] .method-example-declaration .lang-node,#api-reference[data-language="php"] .method-example-declaration .lang-php,#api-reference[data-language="python"] .method-example-declaration .lang-python,#api-reference[data-language="ruby"] .method-example-declaration .lang-ruby {
  display: block
}

#api-reference[data-language="curl"] .include-prompt code::before {
  content: '$ ';
  color: #939da3
}

#api-reference #version-check {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 200;
  padding: 0 20px;
  background: #0099e5;
  color: #fff;
  vertical-align: middle
}

#api-reference #version-check .version-check-large {
  display: block
}

#api-reference #version-check .version-check-small {
  display: none
}

#api-reference #version-check p {
  margin: 0;
  color: rgba(255,255,255,0.9);
  font-size: 12px;
  font-weight: 500;
  line-height: 33px;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1)
}

#api-reference #version-check p a {
  color: #fff;
  font-weight: 600
}

#api-reference #version-check p a:after {
  position: relative;
  top: -1px;
  display: inline-block;
  height: 6px;
  margin-left: 3px;
  width: 4px;
  content: "";
  background-image: url("/img/documentation/api/learn-more.png")
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference #version-check p a:after {
    background-image:url("/img/documentation/api/learn-more@2x.png");
    -webkit-background-size: 4px 6px;
    -moz-background-size: 4px 6px;
    background-size: 4px 6px
  }
}

#api-reference #version-check p a:hover {
  opacity: .8;
  -ms-filter: "alpha(opacity=80)";
  filter: alpha(opacity=80)
}

#api-reference #header {
  left: 221px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100
}

#api-reference #header .header-section {
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 49px
}

#api-reference #header .header-section.header-section-sidebar {
  left: -221px;
  z-index: 30;
  width: 220px;
  border-bottom: 1px solid #f0f4f7
}

#api-reference #header .header-section.header-section-copy {
  z-index: 20
}

#api-reference #header .header-section.header-section-example {
  left: 45%;
  right: 0;
  z-index: 10;
  height: 50px;
  min-width: 464px;
  padding-left: 40px;
  background: #242729;
  color: #d0d4d7
}

#api-reference #header .logo {
  left: 20px;
  position: relative;
  top: 14px;
  height: 22px
}

#api-reference #header .logo a {
  float: left;
  display: block;
  height: 22px
}

#api-reference #header .logo a:hover {
  opacity: .8;
  -ms-filter: "alpha(opacity=80)";
  filter: alpha(opacity=80)
}

#api-reference #header .logo a.site {
  width: 54px;
  background-repeat: no-repeat;
  background-image: url("/img/documentation/api/logo.png")
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference #header .logo a.site {
    background-image:url("/img/documentation/api/logo@2x.png");
    -webkit-background-size: 54px 22px;
    -moz-background-size: 54px 22px;
    background-size: 54px 22px
  }
}

#api-reference #header .logo a.docs {
  padding-left: 4px;
  font-size: 18px;
  line-height: 20px
}

#api-reference #header .logo a.docs:hover {
  color: #0099e5
}

#api-reference #header .select-field {
  float: left;
  position: relative;
  margin-top: 10px
}

#api-reference #header .select-field select {
  position: relative;
  z-index: 50;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  height: 29px;
  padding-left: 10px;
  padding-right: 38px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d6dee5;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #4c555a;
  cursor: pointer;
  font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial,sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 28px;
  outline: 0;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-indent: .01px;
  -o-text-overflow: '';
  text-overflow: '';
  vertical-align: middle
}

#api-reference #header .select-field:before {
  position: absolute;
  right: 28px;
  top: 7px;
  z-index: 100;
  display: block;
  height: 15px;
  width: 1px;
  background: #d6dee5;
  content: ''
}

#api-reference #header .select-field:after {
  position: absolute;
  right: 13px;
  top: 13px;
  z-index: 75;
  display: block;
  height: 4px;
  width: 6px;
  content: '';
  background-image: url("/img/documentation/api/jump-menu-arrow.png")
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference #header .select-field:after {
    background-image:url("/img/documentation/api/jump-menu-arrow@2x.png");
    -webkit-background-size: 6px 4px;
    -moz-background-size: 6px 4px;
    background-size: 6px 4px
  }
}

#api-reference #header .select-field:hover select {
  color: #292e31
}

#api-reference #header .select-field.jump-menu {
  float: right
}

#api-reference #header .jump-menu {
  display: none
}

#api-reference #header #language .language-toggle {
  overflow: hidden
}

#api-reference #header #language .language-toggle li {
  float: left;
  position: relative;
  margin: 8px 2px 0
}

#api-reference #header #language .language-toggle li:first-child {
  margin-left: 0
}

#api-reference #header #language .language-toggle li:last-child {
  margin-right: 0
}

#api-reference #header #language .language-toggle li .language-toggle-source {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: transparent;
  border: 0;
  cursor: pointer;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0)
}

#api-reference #header #language .language-toggle li .language-toggle-button {
  position: relative;
  z-index: 50;
  display: block;
  padding: 0 10px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #d0d4d7;
  cursor: pointer;
  font-size: 13px;
  line-height: 29px
}

#api-reference #header #language .language-toggle li:hover .language-toggle-button {
  border-color: #373b3e
}

#api-reference #header #language .language-toggle li:active .language-toggle-button {
  background: #33373a;
  border-color: #373b3e;
  color: #dde4e8
}

#api-reference #header #language .language-toggle .language-toggle-source:checked+.language-toggle-button,#api-reference #header #language .language-toggle .language-toggle-source:checked+.language-toggle-button:hover,#api-reference #header #language .language-toggle .language-toggle-source:checked+.language-toggle-button:active {
  background: -webkit-linear-gradient(top,#5abaf0,#4aafed);
  background: -moz-linear-gradient(top,#5abaf0,#4aafed);
  background: -o-linear-gradient(top,#5abaf0,#4aafed);
  background: -ms-linear-gradient(top,#5abaf0,#4aafed);
  background: linear-gradient(to bottom,#5abaf0,#4aafed);
  border-color: transparent;
  color: #fff;
  text-shadow: 0 0 0 rgba(255,255,255,0.5),0 1px 1px #0e74c3
}

#api-reference #sidebar {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 75;
  width: 220px;
  background: #fafcfc;
  border-right: 1px solid #f0f4f7
}

#api-reference #sidebar .sidebar-nav {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 49px;
  overflow: scroll
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-heading {
  padding: 0 20px 4px
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-heading:first-child {
  padding-top: 20px
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items {
  margin: 0;
  padding: 0 0 26px;
  line-height: 20px;
  list-style: none
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item {
  display: block;
  margin: 0;
  padding: 6px 20px;
  color: #4c555a;
  cursor: pointer;
  font-size: 14px;
  list-style-type: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item+.sidebar-nav-items {
  margin: 0;
  padding: 0
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item+.sidebar-nav-items .sidebar-nav-item {
  padding-left: 36px;
  font-size: 13px
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item:hover {
  color: #292e31;
  text-decoration: underline
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item.selected {
  color: #0099e5
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item.selected:hover {
  text-decoration: none
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item.expandable+.sidebar-nav-items {
  display: none
}

#api-reference #sidebar .sidebar-nav .sidebar-nav-items li .sidebar-nav-item.expandable.expanded+.sidebar-nav-items {
  display: block
}

#api-reference #background {
  bottom: 0;
  left: 221px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1
}

#api-reference #background .background-actual {
  bottom: 0;
  left: 45%;
  position: absolute;
  right: 0;
  top: 0;
  background: #2d3134
}

#api-reference #content {
  bottom: 0;
  right: 0;
  position: absolute;
  left: 221px;
  top: 0;
  z-index: 50;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

#api-reference #content .method-group {
  position: relative
}

#api-reference #content .method-group:last-child {
  padding-bottom: 40px
}

#api-reference #content .method-group:before,#api-reference #content .method-group:after {
  position: absolute;
  top: -1px;
  z-index: 3;
  display: block;
  height: 1px;
  content: ""
}

#api-reference #content .method-group:before {
  left: 0;
  width: 45%;
  background: #f0f4f7
}

#api-reference #content .method-group:after {
  left: 45%;
  right: 0;
  background: #33383b
}

#api-reference #content .method {
  position: relative;
  z-index: 2;
  overflow: hidden
}

#api-reference #content .method .method-area:first-child .method-copy {
  padding-top: 30px
}

#api-reference #content .method .method-area:first-child .method-example {
  padding-top: 72px
}

#api-reference #content .method .method-copy {
  float: left;
  padding: 0 0 50px;
  width: 45%
}

#api-reference #content .method .method-copy .method-copy-padding {
  padding: 20px 40px
}

#api-reference #content .method .method-copy .method-copy-padding+.method-list {
  padding-bottom: 40px
}

#api-reference #content .method .method-copy .method-copy-padding:last-child {
  padding-bottom: 0
}

#api-reference #content .method .method-copy .method-copy-notice {
  display: block;
  margin-top: 20px;
  padding: 16px 20px;
  border: 1px solid rgba(224,153,76,0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  color: #e0994c
}

#api-reference #content .method .method-copy .method-copy-notice p {
  margin-top: 0
}

#api-reference #content .method .method-copy .method-copy-notice ul li {
  padding-top: 10px
}

#api-reference #content .method .method-copy .method-copy-notice code {
  color: #ab5719
}

#api-reference #content .method .method-copy h1 {
  margin-top: 0
}

#api-reference #content .method .method-copy h1 .method-badge {
  display: inline-block;
  padding: 0 11px;
  border: 1px solid rgba(0,153,229,0.5);
  -webkit-border-radius: 24px;
  border-radius: 24px;
  color: #0099e5;
  font-size: 11px;
  font-weight: 600;
  line-height: 24px;
  text-transform: uppercase;
  vertical-align: middle
}

#api-reference #content .method .method-copy h1 .method-badge.method-badge-deprecated {
  border: 1px solid rgba(224,76,76,0.5);
  color: #e04c4c
}

#api-reference #content .method .method-copy strong {
  font-weight: 600
}

#api-reference #content .method .method-copy code,#api-reference #content .method .method-copy tt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 5px;
  background: #fafcfc;
  border: 1px solid #f0f4f7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #b93d6a;
  font-family: 'Source Code Pro',Menlo,monospace;
  font-size: 13px;
  line-height: 20px
}

#api-reference #content .method .method-copy .method-list {
  padding: 40px 40px 0
}

#api-reference #content .method .method-copy .method-list .method-list-group {
  margin-top: 8px;
  border-top: 1px solid #e1e8ed
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item {
  padding: 17px 0;
  border-bottom: 1px solid #f0f4f7;
  line-height: 24px
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item:last-child {
  border-bottom: 1px solid #e1e8ed
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-copy-notice {
  margin: 0 0 17px;
  font-size: 13px;
  line-height: 21px
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
  font-size: 13px;
  line-height: 21px;
  word-break: break-all;
  white-space: nowrap
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label a.header-anchor {
  display: inline-block;
  opacity: 0;
  -ms-filter: "alpha(opacity=0)";
  filter: alpha(opacity=0);
  position: relative;
  top: 3px;
  width: 15px;
  height: 14px;
  background-repeat: no-repeat;
  background-image: url("/img/documentation/anchor.png");
  background-position: 50% 50%;
  left: -15px;
  margin-right: -15px;
  isolation: isolate
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label a.header-anchor {
    background-image:url("/img/documentation/anchor@2x.png");
    -webkit-background-size: 9px 8px;
    -moz-background-size: 9px 8px;
    background-size: 9px 8px
  }
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label a.header-anchor:hover {
  text-decoration: none
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label:hover a.header-anchor {
  opacity: 1;
  -ms-filter: none;
  filter: none
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-changes {
  position: relative;
  display: inline-block;
  height: 12px;
  margin: 4px 5px 0 0;
  vertical-align: top;
  width: 13px;
  background-repeat: no-repeat;
  background-image: url("/img/documentation/api/change-notice.png")
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-changes {
    background-image:url("/img/documentation/api/change-notice@2x.png");
    -webkit-background-size: 13px 12px;
    -moz-background-size: 13px 12px;
    background-size: 13px 12px
  }
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-badge {
  display: inline-block;
  margin-left: 5px;
  padding: 0 8px;
  vertical-align: top;
  border: 1px solid rgba(255,174,84,0.5);
  -webkit-border-radius: 11px;
  border-radius: 11px;
  color: #ffae54;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  text-transform: uppercase
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-details {
  color: #939da3;
  font-size: 12px;
  font-weight: normal;
  text-transform: none;
  word-break: normal
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-validation {
  color: #939da3;
  font-size: 12px;
  font-weight: 500;
  text-transform: none;
  word-break: normal
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-promote {
  font-weight: 600
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
  font-size: 13px;
  line-height: 21px
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description:nth-child(2) {
  margin-top: 6px
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description code,#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description tt {
  font-size: 12px
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-clearfix {
  zoom:1}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-clearfix:before,#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-clearfix:after {
  content: "";
  display: table
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-clearfix:after {
  clear: both
}

#api-reference #content .method .method-copy .method-list .method-list-group .method-list-item.method-list-item-expandable .method-list-item-description::after {
  display: block;
  margin-top: 4px;
  width: 80px;
  background: #fafcfc;
  border: 1px solid #f0f4f7;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #292e31;
  content: "Expandable";
  font-size: 11px;
  font-weight: 600;
  text-align: center
}

#api-reference #content .method .method-copy .method-list.method-list-child {
  position: relative;
  margin-top: 16px;
  padding: 0;
  border: 1px solid #e9edf0;
  -webkit-border-radius: 6px;
  border-radius: 6px
}

#api-reference #content .method .method-copy .method-list.method-list-child::before {
  left: 30px;
  position: absolute;
  top: -9px;
  display: block;
  height: 9px;
  width: 14px;
  background-color: #fff;
  background-repeat: no-repeat;
  content: '';
  background-image: url("/img/documentation/api/child-list-tail.png")
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference #content .method .method-copy .method-list.method-list-child::before {
    background-image:url("/img/documentation/api/child-list-tail@2x.png");
    -webkit-background-size: 14px 9px;
    -moz-background-size: 14px 9px;
    background-size: 14px 9px
  }
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-title {
  padding: 10px 20px;
  color: #0099e5;
  cursor: pointer;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: none
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-title:hover {
  text-decoration: underline
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-title:hover .method-list-child-parent {
  color: #0099e5
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-title::before {
  content: "Show"
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-title.expanded::before {
  content: "Hide"
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-title .method-list-child-parent {
  color: #4c555a
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-group {
  display: none;
  margin-top: 0;
  border-color: #e9edf0
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-group .method-list-item {
  padding-left: 20px;
  padding-right: 20px
}

#api-reference #content .method .method-copy .method-list.method-list-child .method-list-group .method-list-item:last-child {
  border-bottom: 0
}

#api-reference #content .method .method-copy .method-list.method-list-empty .method-list-group .method-list-item .method-list-item-label {
  color: #939da3;
  font-weight: 400;
  text-align: center
}

#api-reference #content .method .method-example {
  position: relative;
  z-index: 2;
  margin-left: 45%;
  padding: 42px 0 50px;
  color: #dde4e8
}

#api-reference #content .method .method-example h1,#api-reference #content .method .method-example h2,#api-reference #content .method .method-example h3,#api-reference #content .method .method-example h4,#api-reference #content .method .method-example h5 {
  max-width: 768px;
  color: #d0d4d7
}

#api-reference #content .method .method-example p {
  max-width: 768px
}

#api-reference #content .method .method-example a:hover {
  color: #5db8ed
}

#api-reference #content .method .method-example .method-example-part {
  padding: 30px 40px
}

#api-reference #content .method .method-example .method-example-part:last-child:after {
  display: none
}

#api-reference #content .method .method-example .method-example-part .method-example-endpoint,#api-reference #content .method .method-example .method-example-part .method-example-declaration,#api-reference #content .method .method-example .method-example-part .method-example-request,#api-reference #content .method .method-example .method-example-part .method-example-response,#api-reference #content .method .method-example .method-example-part .method-example-object {
  display: block;
  padding: 20px 0
}

#api-reference #content .method .method-example .method-example-part .method-example-endpoint:first-child,#api-reference #content .method .method-example .method-example-part .method-example-declaration:first-child,#api-reference #content .method .method-example .method-example-part .method-example-request:first-child,#api-reference #content .method .method-example .method-example-part .method-example-response:first-child,#api-reference #content .method .method-example .method-example-part .method-example-object:first-child {
  padding-top: 0
}

#api-reference #content .method .method-example .method-example-part .method-example-endpoint:last-child,#api-reference #content .method .method-example .method-example-part .method-example-declaration:last-child,#api-reference #content .method .method-example .method-example-part .method-example-request:last-child,#api-reference #content .method .method-example .method-example-part .method-example-response:last-child,#api-reference #content .method .method-example .method-example-part .method-example-object:last-child {
  padding-bottom: 0
}

#api-reference #content .method .method-example .method-example-part .method-example-endpoint:before,#api-reference #content .method .method-example .method-example-part .method-example-declaration:before,#api-reference #content .method .method-example .method-example-part .method-example-request:before,#api-reference #content .method .method-example .method-example-part .method-example-response:before,#api-reference #content .method .method-example .method-example-part .method-example-object:before {
  display: block;
  padding-bottom: 8px;
  content: 'Definition';
  color: #d0d4d7;
  font-family: 'Whitney SSm A','Whitney SSm B',Helvetica,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500
}

#api-reference #content .method .method-example .method-example-part .method-example-endpoint:before {
  content: 'API Endpoint'
}

#api-reference #content .method .method-example .method-example-part .method-example-request:before {
  content: 'Example Request'
}

#api-reference #content .method .method-example .method-example-part .method-example-response:before {
  content: 'Example Response'
}

#api-reference #content .method .method-example .method-example-part .method-example-object,#api-reference #content .method .method-example .method-example-part .method-example-object:first-child {
  padding-top: 20px
}

#api-reference #content .method .method-example .method-example-part .method-example-object:before,#api-reference #content .method .method-example .method-example-part .method-example-object:first-child:before {
  content: 'Example Response'
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher {
  position: relative;
  height: 31px;
  padding-bottom: 40px
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position {
  left: 20px;
  position: absolute;
  top: 0;
  z-index: 10;
  padding: 0 10px;
  background: #2d3134
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position .method-example-switcher-switch {
  position: relative;
  z-index: 20;
  display: block;
  float: left;
  height: 29px;
  margin-right: 10px;
  padding: 0 14px;
  border: 1px solid #33383b;
  -webkit-border-radius: 29px;
  border-radius: 29px;
  color: #d0d4d7;
  font-size: 13px;
  line-height: 29px
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position .method-example-switcher-switch:last-child {
  margin-right: 0
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position .method-example-switcher-switch:hover {
  background: #33383b;
  color: #dde4e8
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position .method-example-switcher-switch.selected {
  z-index: 30;
  background: rgba(0,153,229,0.7);
  border-color: #0099e5;
  color: #dde4e8;
  cursor: default;
  text-shadow: 0 1px 0 rgba(0,0,0,0.1)
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position .method-example-switcher-switch.selected:hover,#api-reference #content .method .method-example .method-example-part .method-example-switcher .method-example-switcher-position .method-example-switcher-switch.selected:active {
  cursor: default
}

#api-reference #content .method .method-example .method-example-part .method-example-switcher:after {
  left: 0;
  position: absolute;
  right: 0;
  top: 14px;
  z-index: 5;
  display: block;
  height: 1px;
  background: #33383b;
  content: ""
}

#api-reference #content .method .method-example .method-example-part .method-example-specific.hide {
  display: none
}

#api-reference #content .method .method-example .table {
  margin: 30px 0 45px;
  max-width: 768px;
  overflow: hidden;
  background: #33373a;
  border: 1px #373b3e solid;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #d0d4d7
}

#api-reference #content .method .method-example .table .table-header {
  padding: 14px 20px;
  border-bottom: 1px solid #373b3e;
  color: #d0d4d7;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  text-transform: uppercase
}

#api-reference #content .method .method-example .table .table-header code {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 5px;
  background: #373b3e;
  border: 1px solid #414547;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #ebde68;
  font-family: 'Source Code Pro',Menlo,monospace;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none
}

#api-reference #content .method .method-example .table .table-header+.table-container {
  border-top: 0
}

#api-reference #content .method .method-example .table .table-container {
  table-layout: fixed;
  width: 100%;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box
}

#api-reference #content .method .method-example .table .table-container tr td,#api-reference #content .method .method-example .table .table-container tr th {
  display: table-cell;
  padding: 9px 20px;
  font-size: 13px;
  vertical-align: top
}

#api-reference #content .method .method-example .table .table-container tr td.table-row-property,#api-reference #content .method .method-example .table .table-container tr th.table-row-property {
  width: 140px;
  font-weight: 600;
  text-align: right
}

#api-reference #content .method .method-example .table .table-container tr:nth-child(odd) {
  background: rgba(0,0,0,0.1)
}

#api-reference #content .method .method-example .table .table-container tr:first-child td,#api-reference #content .method .method-example .table .table-container tr:first-child th {
  padding-top: 16px
}

#api-reference #content .method .method-example .table .table-container tr:last-child td,#api-reference #content .method .method-example .table .table-container tr:last-child th {
  padding-bottom: 16px
}

#api-reference #content .method .method-example .table .table-footer {
  padding: 14px 20px;
  border-top: 1px solid #373b3e;
  font-size: 13px
}

#api-reference #content .method .method-example pre {
  margin: 0;
  padding: 20px 40px;
  background: #272b2d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Source Code Pro',Menlo,monospace;
  font-size: 13px;
  line-height: 1.5em;
  font-weight: 500
}

#api-reference #content .method .method-example code,#api-reference #content .method .method-example pre {
  color: #d0d0d0;
  direction: ltr;
  text-align: left;
  white-space: pre-wrap;
  word-break: normal;
  word-spacing: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -moz-hyphens: none;
  -ms-hyphens: none;
  -webkit-hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none
}

#api-reference #content .method .method-example code .token.comment,#api-reference #content .method .method-example pre .token.comment,#api-reference #content .method .method-example code .token.prolog,#api-reference #content .method .method-example pre .token.prolog,#api-reference #content .method .method-example code .token.doctype,#api-reference #content .method .method-example pre .token.doctype,#api-reference #content .method .method-example code .token.cdata,#api-reference #content .method .method-example pre .token.cdata {
  color: #777279
}

#api-reference #content .method .method-example code .token.punctuation,#api-reference #content .method .method-example pre .token.punctuation {
  color: #d0d4d7
}

#api-reference #content .method .method-example code .namespace,#api-reference #content .method .method-example pre .namespace {
  color: #d0d4d7
}

#api-reference #content .method .method-example code .token.property,#api-reference #content .method .method-example pre .token.property,#api-reference #content .method .method-example code .token.tag,#api-reference #content .method .method-example pre .token.tag,#api-reference #content .method .method-example code .token.constant,#api-reference #content .method .method-example pre .token.constant,#api-reference #content .method .method-example code .token.symbol,#api-reference #content .method .method-example pre .token.symbol,#api-reference #content .method .method-example code .token.deleted,#api-reference #content .method .method-example pre .token.deleted {
  color: #ebde68
}

#api-reference #content .method .method-example code .token.boolean,#api-reference #content .method .method-example pre .token.boolean,#api-reference #content .method .method-example code .token.number,#api-reference #content .method .method-example pre .token.number {
  color: #77bcd7
}

#api-reference #content .method .method-example code .token.selector,#api-reference #content .method .method-example pre .token.selector,#api-reference #content .method .method-example code .token.attr-name,#api-reference #content .method .method-example pre .token.attr-name,#api-reference #content .method .method-example code .token.char,#api-reference #content .method .method-example pre .token.char,#api-reference #content .method .method-example code .token.builtin,#api-reference #content .method .method-example pre .token.builtin,#api-reference #content .method .method-example code .token.inserted,#api-reference #content .method .method-example pre .token.inserted {
  color: #ebde68
}

#api-reference #content .method .method-example code .token.string,#api-reference #content .method .method-example pre .token.string,#api-reference #content .method .method-example code .token.json-key,#api-reference #content .method .method-example pre .token.json-key {
  color: #c1ef65
}

#api-reference #content .method .method-example code .token.entity,#api-reference #content .method .method-example pre .token.entity,#api-reference #content .method .method-example code .token.url,#api-reference #content .method .method-example pre .token.url,#api-reference #content .method .method-example code .language-css .token.string,#api-reference #content .method .method-example pre .language-css .token.string,#api-reference #content .method .method-example code .style .token.string,#api-reference #content .method .method-example pre .style .token.string,#api-reference #content .method .method-example code .token.variable,#api-reference #content .method .method-example pre .token.variable {
  color: #d0d4d7
}

#api-reference #content .method .method-example code .token.operator,#api-reference #content .method .method-example pre .token.operator {
  color: #f099a6
}

#api-reference #content .method .method-example code .token.json-string,#api-reference #content .method .method-example pre .token.json-string {
  color: #d0d0d0
}

#api-reference #content .method .method-example code .token.atrule,#api-reference #content .method .method-example pre .token.atrule,#api-reference #content .method .method-example code .token.attr-value,#api-reference #content .method .method-example pre .token.attr-value {
  color: #ebde68
}

#api-reference #content .method .method-example code .token.request-value,#api-reference #content .method .method-example pre .token.request-value,#api-reference #content .method .method-example code .token.request-url,#api-reference #content .method .method-example pre .token.request-url,#api-reference #content .method .method-example code .token.api-key,#api-reference #content .method .method-example pre .token.api-key {
  color: #c1ef65
}

#api-reference #content .method .method-example code .token.keyword,#api-reference #content .method .method-example pre .token.keyword {
  color: #ebde68
}

#api-reference #content .method .method-example code .token.request-flag,#api-reference #content .method .method-example pre .token.request-flag {
  color: #d0d0d0
}

#api-reference #content .method .method-example code .token.request-param,#api-reference #content .method .method-example pre .token.request-param {
  color: #f099a6
}

#api-reference #content .method .method-example code .token.regex,#api-reference #content .method .method-example pre .token.regex,#api-reference #content .method .method-example code .token.important,#api-reference #content .method .method-example pre .token.important {
  color: #ebde68
}

#api-reference #content .method .method-example code .token.important,#api-reference #content .method .method-example pre .token.important {
  font-weight: bold
}

#api-reference #content .method .method-example code .token.entity,#api-reference #content .method .method-example pre .token.entity {
  cursor: help
}

#api-reference .changes-tooltip {
  left: 218px;
  position: absolute;
  top: 313px;
  z-index: 9999;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 16px 20px;
  width: 340px;
  background: #fff;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 0 8px rgba(75,84,89,0.1),0 1px 4px rgba(75,84,89,0.25);
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 0 8px rgba(75,84,89,0.1),0 1px 4px rgba(75,84,89,0.25);
  color: #4c555a;
  font-size: 13px;
  line-height: 21px
}

#api-reference .changes-tooltip::before {
  left: 50%;
  position: absolute;
  top: -11px;
  display: block;
  height: 12px;
  margin-left: -10px;
  width: 20px;
  content: '';
  background-image: url("/img/documentation/api/change-notice-tail.png")
}

@media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
  #api-reference .changes-tooltip::before {
    background-image:url("/img/documentation/api/change-notice-tail@2x.png");
    -webkit-background-size: 20px 12px;
    -moz-background-size: 20px 12px;
    background-size: 20px 12px
  }
}

#api-reference .changes-tooltip code,#api-reference .changes-tooltip tt {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 5px;
  background: #fafcfc;
  border: 1px solid #f0f4f7;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #b93d6a;
  font-family: 'Source Code Pro',Menlo,monospace;
  font-size: 13px;
  line-height: 20px
}

#api-reference .changes-tooltip ul li {
  padding-top: 10px
}

#api-reference.has-version-check #header {
  top: 33px
}

#api-reference.has-version-check #sidebar {
  top: 33px
}

#api-reference.has-version-check #content {
  top: 33px
}

@media screen and (min-width: 2020px) {
  #api-reference #header {
    left:281px
  }

  #api-reference #header .header-section.header-section-sidebar {
    left: -281px;
    width: 280px
  }

  #api-reference #header .header-section.header-section-example {
    left: 780px
  }

  #api-reference #sidebar {
    width: 280px
  }

  #api-reference #background {
    left: 281px
  }

  #api-reference #background .background-actual {
    left: 780px
  }

  #api-reference #content {
    left: 281px
  }

  #api-reference #content .method-group:before {
    width: 780px
  }

  #api-reference #content .method-group:after {
    left: 780px;
    width: auto
  }

  #api-reference #content .method-group .method .method-area .method-copy {
    width: 780px
  }

  #api-reference #content .method-group .method .method-area .method-example {
    margin-left: 780px
  }
}

@media screen and (min-width: 1200px) {
  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
    width:180px
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label::after {
    left: 200px
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 200px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child::before {
    left: 170px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-title {
    width: 159px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label {
    width: 159px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label::after {
    left: 179px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 179px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child::before {
    left: 149px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-title {
    width: 138px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label {
    width: 138px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label::after {
    left: 158px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 158px
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item {
    overflow: hidden
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
    position: relative;
    z-index: 5;
    float: left;
    text-align: right
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label::after {
    position: absolute;
    top: 0;
    display: block;
    color: #dde4e8;
    content: '\2014';
    font-weight: 400;
    text-align: left
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-badge {
    display: block;
    margin-left: 0;
    padding: 4px 0 0;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: 1.2em
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-label-details,#api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-label .method-list-item-validation {
    display: block
  }

  #api-reference #content .method-group .method .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
    position: relative;
    z-index: 10;
    background: #fff
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-empty .method-list-group .method-list-item .method-list-item-label {
    width: 100%;
    text-align: center
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-empty .method-list-group .method-list-item .method-list-item-label::after {
    display: none
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child {
    margin-top: 22px
  }

  #api-reference #content .method-group .method .method-copy .method-list.method-list-child .method-list-title {
    text-align: right
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
    width: 220px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list .method-list-group .method-list-item .method-list-item-label::after {
    left: 240px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 240px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child::before {
    left: 210px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-title {
    width: 199px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label {
    width: 199px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label::after {
    left: 219px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 219px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child::before {
    left: 189px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-title {
    width: 178px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label {
    width: 178px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label::after {
    left: 198px
  }

  #api-reference #content .method-group .method#dispute_evidence_object .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 198px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list .method-list-group .method-list-item .method-list-item-label {
    width: 240px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list .method-list-group .method-list-item .method-list-item-label::after {
    left: 260px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 260px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child::before {
    left: 230px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-title {
    width: 219px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label {
    width: 219px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label::after {
    left: 239px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 239px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child::before {
    left: 209px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-title {
    width: 198px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label {
    width: 198px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-label::after {
    left: 218px
  }

  #api-reference #content .method-group .method#event_types .method-copy .method-list.method-list-child .method-list-group .method-list-item .method-list.method-list-child .method-list-group .method-list-item .method-list-item-description {
    margin: 0 0 0 218px
  }
}

@media screen and (max-width: 1300px) {
  #api-reference #header {
    left:181px
  }

  #api-reference #header .header-section.header-section-sidebar {
    left: -181px;
    width: 180px
  }

  #api-reference #sidebar {
    width: 180px
  }

  #api-reference #background {
    left: 181px
  }

  #api-reference #content {
    left: 181px
  }
}

@media screen and (max-width: 1030px) {
  #api-reference #header {
    left:0;
    height: 49px;
    background: #fff;
    border-bottom: 1px solid #f0f4f7
  }

  #api-reference #header .header-section.header-section-sidebar {
    left: 0;
    border-bottom: 0
  }

  #api-reference #header .header-section.header-section-sidebar .logo {
    left: 40px
  }

  #api-reference #header .header-section.header-section-copy {
    right: 55%
  }

  #api-reference #header .header-section.header-section-copy .select-field.jump-menu {
    display: block;
    margin-right: 30px
  }

  #api-reference #sidebar {
    display: none
  }

  #api-reference #background {
    left: 0
  }

  #api-reference #content {
    left: 0;
    top: 50px
  }

  #api-reference .changes-tooltip {
    left: 66px;
    top: 266px
  }

  #api-reference .changes-tooltip::before {
    left: -11px;
    top: 50%;
    height: 20px;
    margin-left: 0;
    margin-top: -10px;
    width: 12px;
    background-image: url("/img/documentation/api/change-notice-tail-side.png")
  }

  @media all and (-webkit-min-device-pixel-ratio:1.5),(min--moz-device-pixel-ratio:1.5),(-o-min-device-pixel-ratio:1.5/1),(min-device-pixel-ratio:1.5),(min-resolution: 138dpi),(min-resolution:1.5dppx) {
    #api-reference .changes-tooltip::before {
      background-image:url("/img/documentation/api/change-notice-tail-side@2x.png");
      -webkit-background-size: 12px 20px;
      -moz-background-size: 12px 20px;
      background-size: 12px 20px
    }
  }

  #api-reference.has-version-check #header {
    top: 33px
  }

  #api-reference.has-version-check #sidebar {
    top: 33px
  }

  #api-reference.has-version-check #content {
    top: 82px
  }
}

@media screen and (max-width: 848px) {
  #api-reference #version-check .version-check-large {
    display:none
  }

  #api-reference #version-check .version-check-small {
    display: block
  }

  #api-reference #header .header-section.header-section-sidebar {
    left: 0;
    position: fixed;
    padding: 0 20px;
    width: 140px;
    background: #fff;
    border-bottom: 1px solid #f0f4f7
  }

  #api-reference #header .header-section.header-section-sidebar .logo {
    left: 0;
    position: relative
  }

  #api-reference #header .header-section.header-section-copy {
    left: 140px;
    position: fixed;
    right: 0;
    z-index: 70;
    padding: 0 20px;
    background: #fff;
    border-bottom: 1px solid #f0f4f7
  }

  #api-reference #header .header-section.header-section-copy .select-field.jump-menu {
    margin-right: 0;
    max-width: 320px;
    width: 100%
  }

  #api-reference #header .header-section.header-section-copy .select-field.jump-menu select {
    max-width: 320px;
    width: 100%
  }

  #api-reference #header .header-section.header-section-example {
    left: 0;
    position: relative;
    top: 49px;
    z-index: 60;
    height: 41px;
    min-width: 0;
    padding-left: 0
  }

  #api-reference #header .header-section.header-section-example #language {
    height: 41px;
    min-width: 0;
    padding: 0;
    text-align: center
  }

  #api-reference #header .header-section.header-section-example #language .language-toggle li {
    display: inline-block;
    float: none;
    margin: 0
  }

  #api-reference #header .header-section.header-section-example #language .language-toggle li .language-toggle-button {
    height: 41px;
    padding: 0 7px;
    border: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    line-height: 41px
  }

  #api-reference #background {
    display: none
  }

  #api-reference #content {
    top: 90px
  }

  #api-reference #content .method-group:before,#api-reference #content .method-group:after {
    display: none
  }

  #api-reference #content .method-group .method .method-area .method-copy {
    float: none;
    width: 100%
  }

  #api-reference #content .method-group .method .method-area .method-copy .method-copy-padding {
    padding-left: 20px;
    padding-right: 20px
  }

  #api-reference #content .method-group .method .method-area .method-copy .method-list {
    padding-left: 20px;
    padding-right: 20px
  }

  #api-reference #content .method-group .method .method-area .method-copy .method-list .method-list-child {
    padding-left: 0;
    padding-right: 0
  }

  #api-reference #content .method-group .method .method-area .method-example {
    margin-left: 0;
    background: #2d3134
  }

  #api-reference #content .method-group .method .method-area .method-example .method-example-part {
    padding-left: 20px;
    padding-right: 20px
  }

  #api-reference #content .method-group .method .method-area .method-example .method-example-part .table {
    max-width: none
  }

  #api-reference #content .method-group .method .method-area .method-example .method-example-part .table .table-container tr th,#api-reference #content .method-group .method .method-area .method-example .method-example-part .table .table-container tr td {
    display: block;
    text-align: left
  }

  #api-reference #content .method-group .method .method-area .method-example .method-example-part .table .table-container tr th {
    padding-bottom: 0
  }

  #api-reference #content .method-group .method .method-area .method-example .method-example-part .table .table-container tr td {
    padding-top: 0
  }

  #api-reference.has-version-check #header .header-section.header-section-sidebar,#api-reference.has-version-check #header .header-section.header-section-copy {
    top: 33px
  }

  #api-reference.has-version-check #sidebar {
    top: 33px
  }

  #api-reference.has-version-check #content {
    top: 123px
  }
}
